
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}
body{
   background-color: black;
   padding: auto;
   margin: auto;
}
.img5{
   height: 450px;
   width: 250px;

}
.img4{
  height: 450px;
   width: 250px;
}
.images {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem;
   boder:10px soild black;
   background: white;
   
}
.img1{
   height: 450px;
    width: 250px;
 }
 .img2{
   height: 450px;
    width: 250px;
 }
 .img3{
   height: 450px;
    width: 250px;
 }
 .posts-container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 2rem;
  } 
