.menu-img{
    position: absolute;
    top: 5%;
    left: 90%;
  
  }
  body{
    display: flex;
    border: 0cap;
    padding: 0%;
    max-width: 1000px;
    max-height: 1500px;
    background-color: #0f0f0f;
  }
  .dropbtn {
    background-color: #0f0f0f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: black;
  }
p{
  color: #f1f1f1;
  font-size: 50px;
    position: absolute;
    top: 40%;
    left: 30%;
 }

 .answerOutput{

    color: #f1f1f1;
  font-size: 30px;
  position: absolute;
  top:68%;
  left:40%;
  
 }
  
 .paragraph2{
    display: flex;
    position: absolute;
    top:80%;
    left:45%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
            }
            .paragraph1{
                display: flex;
                position: absolute;
                top:74%;
                left:45%;
                font-size: 30px;
            }
.button{
    position: absolute;
    top: 65%;
    left:45%;
}
.search-family{
    position: absolute;
    top: 55%;
    left:40%;

}
.img{
  height: 35px;
  width: 35px;
  position: relative;
 top:54%;
 left:2150%
}